{% extends 'layout/base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<div id="colorlib-main">
    <div class="hero-wrap js-fullheight" style="background-image: url({{ asset('assets/images/bg_1.jpg') }});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="js-fullheight d-flex justify-content-center align-items-center">
            <div class="col-md-8 text text-center">
                <div class="img mb-4" style="background-image: url({{ asset('assets/images/Image.jpeg') }});"></div>
                <div class="desc">
                    <h2 class="subheading">Bonjour, nous sommes</h2>
                    <h1 class="mb-4">Un groupe de voyageur</h1>
                    <p class="mb-4">Voyager, c'est bien plus que de découvrir de nouveaux horizons; c'est une invitation à se redécouvrir à travers les cultures, les paysages et les sourires des inconnus rencontrés en chemin. Chaque pas dans l'inconnu est une histoire à raconter, une leçon à apprendre et un souvenir à chérir pour toujours.</p>
                    <p><a href="#" class="btn-custom">En savoir plus sur nous <span class="ion-ios-arrow-forward"></span></a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Articles</h2>
                    <p>Que vous soyez un voyageur chevronné ou un rêveur en quête d'évasion, nous espérons que nos récits et conseils vous guideront vers vos prochaines aventures. Bon voyage !</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/bruxelles/bel1.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">BRUXELLES</a></span>
                            <h3 class="mb-4"><a href="#">Notre lieux de résidence</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/Image.jpeg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Ecrit par</span>
                                    <h3><a href="#">Steph & Mage</a>, <span>Année, 2024</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/suisse/gen1.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">genève</a></span>
                            <h3 class="mb-4"><a href="#">Bienvenue chez moi!</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/steph1.jpeg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Ecrit par</span>
                                    <h3><a href="#">Steph</a>, <span>Année, 2024</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/senegal/sen1.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">sénégal</a></span>
                            <h3 class="mb-4"><a href="#">Le pays de la térranga</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/mage1.png') }});"></a>
                                <div class="ml-3 info">
                                    <span>Ecrit par</span>
                                    <h3><a href="#">Mageeeb</a>, <span>Année, 2024</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/guade/gad1.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">guadeloupe</a></span>
                            <h3 class="mb-4"><a href="#">10 Most Awesome Place</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/Image.jpeg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Ecrit par</span>
                                    <h3><a href="#">Steph & Mage</a>, <span>Année, 2024</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/newz/nz1.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">nouvelle-zélande</a></span>
                            <h3 class="mb-4"><a href="#">Loin mais incroyable</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/ibra.jpeg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Ecrit par</span>
                                    <h3><a href="#">Ibra & Eva</a>, <span>Année, 2024</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/image_6.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">verbier</a></span>
                            <h3 class="mb-4"><a href="#">Top Amazing Places to Go</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/Image.jpeg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Ecrit par</span>
                                    <h3><a href="#">Steph & Mage</a>, <span>Nov. 28, 2018</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/viet/viet1.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">vietnam</a></span>
                            <h3 class="mb-4"><a href="#">7 Beginner Photographer’s Mistakes</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/steph3.jpeg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Ecrit par</span>
                                    <h3><a href="#">Steph & Christine</a>, <span>Année, 2024</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/jpn/jpn1.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">japon</a>, <a href="#">Tokyo</a></span>
                            <h3 class="mb-4"><a href="#">Excited to Visit in Palawan Philippines</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/person_2.jpg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Written by</span>
                                    <h3><a href="#">Dave Lewis</a>, <span>Nov. 28, 2018</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/image_9.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">Nouvelle destination</a></span>
                            <h3 class="mb-4"><a href="#">How to Make a Paper Boat in Scratch</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/person_3.jpg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Written by</span>
                                    <h3><a href="#">Dave Lewis</a>, <span>Nov. 28, 2018</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Découvrir ...<span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/image_10.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">Fashion</a></span>
                            <h3 class="mb-4"><a href="#">10 Best Way to Styling Your Lifestyle</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/person_1.jpg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Written by</span>
                                    <h3><a href="#">Dave Lewis</a>, <span>Nov. 28, 2018</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/image_11.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">Fashion</a></span>
                            <h3 class="mb-4"><a href="#">10 Tips to Become a Fashion Pro</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/person_2.jpg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Written by</span>
                                    <h3><a href="#">Dave Lewis</a>, <span>Nov. 28, 2018</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="#" class="img img-2" style="background-image: url({{ asset('assets/images/image_12.jpg') }});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <span class="category mb-3 d-block"><a href="#">Photography</a></span>
                            <h3 class="mb-4"><a href="#">Visit the Most Amazing Place in North America</a></h3>
                            <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a href="#" class="img" style="background-image: url({{ asset('assets/images/person_3.jpg') }});"></a>
                                <div class="ml-3 info">
                                    <span>Written by</span>
                                    <h3><a href="#">Dave Lewis</a>, <span>Nov. 28, 2018</span></h3>
                                </div>
                            </div>
                            <div class="meta-wrap align-items-center">
                                <div class="half order-md-last">
                                    <p class="meta">
                                        <span><i class="icon-heart"></i>3</span>
                                        <span><i class="icon-eye"></i>100</span>
                                        <span><i class="icon-comment"></i>5</span>
                                    </p>
                                </div>
                                <div class="half">
                                    <p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
